name: Build Extension

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4 

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.11.1"
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Zip dist
        run: |
          cd dist
          zip -r ../extension.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: chrome-extension
          path: extension.zip